<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voice Recognized Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="mx-[30vw]">
      <h1 class="text-center my-5 text-2xl font-bold">
        Search with text or voice
      </h1>
      <div class="flex item-center border rounded-lg px-4 py-2 border">
        <input
          class="w-full border-none h-10"
          type="text"
          placeholder="Type Message"
        />
        <button>X</button>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
